<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    
   <!-- <bean id="con1" class="co.edureka.model.Connection" scope="prototype"> -->
   <bean id="con1" class="co.edureka.model.Connection" init-method="myInit" destroy-method="myDestroy">
       <property name="url" value="jdbc:mysql://localhost"/>
       <property name="dbName" value="orders"/>
       <property name="username" value="john@example.com"/>
       <property name="password" value="pass123"/>
   </bean>
   
   <bean class="co.edureka.model.PostProcessor"/>
   
   <!-- <bean id="con2" class="co.edureka.model.Connection">
       <property name="url" value="jdbc:mysql://localhost"/>
       <property name="dbName" value="mydb"/>
       <property name="username" value="fionna@abc.com"/>
       <property name="password" value="fionna123"/>
   </bean> -->

</beans>